/* theme */
.light {
    --main-color: #FFFFFF;
    --sec-color: #F00;
    --third--color: #373737;
    --text--color: #373737;
    --footer--color: #373737;
    }
    
.dark{
     --main-color: #312e2e;
     --sec-color: rgba(202, 61, 61, 0.953);
     --third-color: #cb5163;
     --text-color: #c38f88;
     --footer--color: #c89198;
    }


.toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.toggle-switch p {
    padding: 1em;
    color: var(--sec-color);
}

/* slyder */
:root {
    --toggle-light: hsl(344, 48%, 59%);
    --toggle-dark: linear gradient hsl(0, 67%, 26%) to hsl(352, 77%, 59%);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-light);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 32px;
    bottom: 5px;
    background-color: #fff;
    transition: 0.4s;
}

input:checked + .slider {
    background: linear-gradient(90grad,  hsl(0, 67%, 26%), hsl(352, 77%, 59%));
}

input:checked + .slider:before {
    transform: translateX(-24px);
}
.slider,
.round {
    border-radius: 34px;
}

.round::before {
    border-radius: 50%;
}

input:checked + .round::before {
    background-color: hsl(230, 17%, 14%);
}




/* ----- */

body {
    background: var(--main-color);
    font-family: 'Montserrat bold', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 25px 0 25px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    color: var(--sec-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0 36px 0 36px;
}

.content {
    display: flex;
    flex-direction: column;
}

.phone-bg {
    background-image:url("phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 789px;
    width: 100%;
} 

.title {
    margin: 48px 0 10px 0;
    text-align: center;
    color: var(--third-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.text {
    margin: 28px 0;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px; 
}

.btn {
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    text-align: center;
    margin: 66px auto 42px auto;
    padding: 18px 43px;
    border: 0;
} 

footer .container {
    justify-content: flex-end;
}

.footer-content {
    margin: 40px 67px 29px 67px;
}

.footer-text {
    color: var(--footer--color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: right;
}